<footer>
  <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="#">Company<span>logo </span></a></h3>
          <p class="links"><a href="#"></a></p>
          <p class="company-name">Angular © 2019 </p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"></span>
              <p><span class="new-line-span">23211233</span></p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left"> +54 2494 774499</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p><a href="#" target="_blank">support@mangular.com</a></p>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
          <h4>About the company</h4>
          <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
      </div>
  </div>
</footer>
