.fondotabla {
    background-color: darkgray;
}
.tamañodeimagenbirra{
  width: 80px;
  height: 80px;
}

.green{
  background-color: green;
}
.red{
  background-color: red;
}
.clearance {
  border: 6px solid lightgreen;
}
